body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

#main {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 25px;
}

#main>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main>div:first-child p {
    margin: 0px;
    font-weight: 800;
    color: mediumblue;
    margin-right: 5px;
    font-size: 16px;
}

#hint {
    letter-spacing: -1px;
    color: blueviolet;
    padding: 0px 8px 0px 8px;
}

#bottom {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#guess {
    height: 40px;
    width: 300px;
    font-size: 18px;
    background-color: none;
    border: 2px solid black;
    color: blue;
    padding-left: 20px;
    border-radius: 10px;
}

#submit,
#reset,
#back {
    height: 40px;
    width: 100px;
    border: 1px solid;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s ease;
}

#submit:hover,
#reset:hover,
#back:hover {
    background-color: white;
    color: black;
}

#reset,
#back {
    display: none;
}

h4 {
    font-size: 20px;
}

#correctWord {
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
    letter-spacing: -2px;
    margin: -20px;
    color: red;
}

#main>div:last-child {
    /* border: 1px solid red; */
    margin-top: 300px;
}

#input-err,
#input-err2 {
    margin: 0px;
    color: red;
    font-weight: 600;
    display: none;
}